@import "./../../../scss/base/variables";

$a-tags: "a, a:active, a:hover, a:visited";

.info__container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    position: absolute;
    bottom: 0;
    margin-bottom: 2rem;
}

.info__text {
    display: flex;
    flex-direction: column;
    color: $white;
}

#{$a-tags} {
    color: white;
}

@media (max-width: 480px) {
    .home__author {
        font-size: 3rem;
    }

    .andrea {
        margin-top: -2.5rem;
    }

    .info__container {
        font-size: 0.9rem;
    }
}
