@import "./../../../scss/base/variables";

.home__author-container {
    width: 50vw;
    position: absolute;
    bottom: 0;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.home__author {
    font-size: 5rem;
    color: $red;
    font-weight: 900;
    font-family: "Moriston";
}

.andrea {
    position: absolute;
    margin-top: -4.5rem;
}

@media (max-width: 480px) {
    .home__author {
        font-size: 3rem;
    }

    .andrea {
        margin-top: -2.5rem;
    }
}

@media (min-width: 768px) {
    .home__author {
        font-size: 4rem;
    }

    .andrea {
        margin-top: -3.5rem;
    }
}

@media (min-width: 1400px) {
    .home__author {
        font-size: 6rem;
    }

    .andrea {
        margin-top: -5rem;
    }
}
