@import "./../../../scss/base/_variables.scss";

.projects__container {
    display: flex;
    margin: 5rem;
    margin-right: -15rem;
    flex-direction: column;
    align-items: flex-end;
    transform: perspective(140vw) rotateY(-65deg);
    overflow: scroll;
    padding-top: 2rem;
    height: 600px;
    border-right: 2px solid $red;
    padding-right: 2rem;
}

.projects__title {
    color: $lightGrey;
    font-weight: 500;
    padding: 1rem;
    font-family: "Moriston";
    letter-spacing: 0.2rem;
}

.division {
    height: 100%;
    border-top: 2px solid $red;
    width: 60%;
    position: sticky;
    top: 0;
}

.projects__container a {
    text-decoration: none;
    color: $lightGrey;
    font-size: 4.5rem;
    font-family: "Moriston";
    font-weight: bold;
    text-transform: uppercase;
    transition-duration: 0.4s;
    position: relative;

    &:hover {
        cursor: pointer;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $yellow;
        color: $blue;
        margin-right: 2rem;
    }
    &:last-child {
        padding-bottom: 1rem;
    }
}

@media (max-width: 768px) {
    .projects__container {
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        margin: 2rem;
        align-items: flex-end;
        padding-bottom: 10rem;
        position: absolute;
        top: 0;
        right: 0;
    }

    .projects__container a {
        font-size: 1.8rem;

        &:hover {
            margin-right: 1rem;
        }
    }

    .division {
        height: 100%;
        border-top: 2px solid $red;
        width: 100%;
    }
}

@media (min-width: 1440px) {
    .projects__container {
        padding-top: 3rem;
    }
    .projects__container a {
        &:last-child {
            padding-bottom: 4rem;
        }
    }
}

@media (min-width: 1920px) {
    .projects__container {
        margin-top: 10rem;
        height: 900px;
        margin-right: -20rem;
    }
}

@media (max-width: 480px) {
    .projects__container {
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        margin: 2rem;
        margin-top: 4rem;
        align-items: flex-end;
        padding-bottom: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        overflow: auto;
        height: 60%;
    }

    .projects__container a {
        font-size: 1.5rem;

        &:hover {
            margin-right: 0;
        }
        &:last-child {
            padding-bottom: 0rem;
        }
    }

    .division {
        height: 100%;
        border-top: 2px solid $red;
        width: 50%;
    }
}
