.hey-dog {
    width: 4.5rem;
}

.hey-dog__container {
    position: absolute;
    margin-left: -8rem;
    margin-top: -5.5rem;
    transform: scale(-1, 1);
}

.hey-dog__animation {
    // transition-duration: 1.8s;
    // transition-timing-function: ease-in;
    // animation-iteration-count: infinite;
    // margin-left: 18rem;
    animation-name: doggy;
    animation-duration: 6s;
}

@keyframes doggy {
    0% {
        left: 0px;
        top: 0px;
    }

    50% {
        left: 22rem;
    }
}

@media (max-width: 480px) {
    .hey-dog__animation {
        animation: none;
    }
}
