@import "./../../../../scss/base/variables";

.hey-message {
    color: white;
    position: absolute;
    bottom: 0;
    margin-bottom: 16%;
    margin-left: 21%;
    font-style: italic;
}

@media (min-width: 1920px) {
    .hey-message {
        margin-bottom: 12%;
        margin-left: 16%;
    }
}

@media (min-width: 768px) {
    .hey-message {
        font-size: 0.8rem;
        margin-bottom: 26%;
        margin-left: 39%;
    }
}

@media (max-width: 480px) {
    .hey-message {
        font-size: 0rem;
        margin-bottom: 0;
        margin-left: 0;
    }
}
