/* Moriston font */

@font-face {
  font-family: 'Moriston';
  src: local('Moriston'),
    url('/src/fonts/MoristonPersonal-Black.otf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Moriston';
  src: local('Moriston'),
    url('/src/fonts/MoristonPersonal-Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Moriston';
  src: local('Moriston'),
    url('/src/fonts/MoristonPersonal-Semibold.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Moriston';
  src: local('Moriston'),
    url('/src/fonts/MoristonPersonal-Medium.otf') format('truetype');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'Moriston';
  src: local('Moriston'),
    url('/src/fonts/MoristonPersonal-Regular.otf') format('truetype');
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: 'Moriston';
  src: local('Moriston'),
    url('/src/fonts/MoristonPersonal-Light.otf') format('truetype');
  font-weight: light;
  font-style: normal;
}

/* Alegreya font */

@font-face {
  font-family: 'Alegreya';
  src: local('Alegreya'),
    url('/src/fonts/Alegreya-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Rubik font */

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url('/src/fonts/Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* B612 font */

@font-face {
  font-family: 'B612';
  src: local('B612'), url('/src/fonts/B612-Regular.ttf') format('truetype');
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: 'B612';
  src: local('B612'), url('/src/fonts/B612-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
