@import "./base/variables";
@import "../scss/base/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "B612";
}

body {
    background-color: $blue;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $blue;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border: solid 2px $red;
    border-right: 0;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $yellow;
  }